body {
  padding: 0;
  margin: 0;
}
div {
  box-sizing: border-box;
}

#app {
  width: 1240px;
  margin-left: calc(50vw - 620px);
}
.container.inited {
  display: block !important;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-top: 20px;
}
.main {
  display: flex;
  align-items: stretch;
  gap: 15px;
}

.green-btn {
  color: #8cc540;
  background: #000;
}
.red-btn {
  color: #fff;
  background: #ff8345;
}