<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YYSLS</title>
  <link rel="stylesheet" href="./index.css">
  <link rel="stylesheet" href="./form.css">
  <link rel="stylesheet" href="./card.css">
  <link rel="stylesheet" href="./result.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="app">
    <header class="header">输出期望值简易计算工具</header>
    <div :class="['container', { inited: inited }]" style="display: none;">
      <div class="main">
        <div class="form">
          <div class="label">
            <div class="name">名称</div>
            <div class="value"><input class="input" v-model="eles.name" /></div>
          </div>
          <div class="label">
            <div class="name">外功</div>
            <div class="value">
              <input class="input" v-model.number="eles.attackMin" />
              <div class="to">~</div>
              <input class="input" v-model.number="eles.attackMax" />
            </div>
          </div>
          <div class="label">
            <div class="name">外穿</div>
            <div class="value">
              <input class="input" v-model.number="eles.attackPenetr" />
              <div class="to">外增</div>
              <input class="input" v-model.number="eles.attackGain" />
            </div>
          </div>
          <div class="label">
            <div class="name">精准</div>
            <div class="value"><input class="input" v-model.number="eles.accuRate" /></div>
          </div>
          <div class="label">
            <div class="name">会心</div>
            <div class="value">
              <input class="input" v-model.number="eles.hitMinRate" />
              <div class="to">会心伤害</div>
              <input class="input" v-model.number="eles.hitMin" />
            </div>
          </div>
          <div class="label">
            <div class="name">会意</div>
            <div class="value">
              <input class="input" v-model.number="eles.hitMaxRate" />
              <div class="to">会意伤害</div>
              <input class="input" v-model.number="eles.hitMax" />
            </div>
          </div>
          <div class="label">
            <div class="name">流派</div>
            <div class="value">
              <label class="ele-type" v-for="item of eleList" :key="item.value">
                <input type="radio" :value="item.value" v-model="eles.eleType" />{{item.label}}
              </label>
            </div>
          </div>
          <div class="label">
            <div class="name">鸣金</div>
            <div class="value">
              <input class="input" v-model.number="eles.mjMin" />
              <div class="to">~</div>
              <input class="input" v-model.number="eles.mjMax" />
            </div>
          </div>
          <div class="label">
            <div class="name">裂石</div>
            <div class="value">
              <input class="input" v-model.number="eles.lsMin" />
              <div class="to">~</div>
              <input class="input" v-model.number="eles.lsMax" />
            </div>
          </div>
          <div class="label">
            <div class="name">牵丝</div>
            <div class="value">
              <input class="input" v-model.number="eles.qsMin" />
              <div class="to">~</div>
              <input class="input" v-model.number="eles.qsMax" />
            </div>
          </div>
          <div class="label">
            <div class="name">破竹</div>
            <div class="value">
              <input class="input" v-model.number="eles.pzMin" />
              <div class="to">~</div>
              <input class="input" v-model.number="eles.pzMax" />
            </div>
          </div>
          <div class="label">
            <div class="name">属穿</div>
            <div class="value">
              <input class="input" v-model.number="eles.attrPenetr" />
              <div class="to">属增</div>
              <input class="input" v-model.number="eles.attrGain" />
            </div>
          </div>
          <div class="btns">
            <div class="btn" @click="onSave">保存</div>
            <div class="btn" @click="onReset">重置</div>
            <div :class="['btn', { active: targetPlan.includes(eles.id) }]" @click="chooseTarget(eles.id)">目标套</div>
            <div :class="['btn', { active: currentPlan === eles.id }]" @click="currentPlan = eles.id">对比套</div>
          </div>
        </div>

        <div class="cards">
          <template v-if="cards.length">
            <div class="card" v-for="item of cards" :key="item.id">
              <div class="card-name">{{item.name}}</div>
              <div class="card-deliver"></div>
              <div class="card-span">外功：{{item.attackMin}} - {{item.attackMax}}</div>
              <div class="card-span">外穿：{{item.attackPenetr}} 外增 {{item.attackGain}}</div>
              <div class="card-span">精准：{{item.accuRate}}%</div>
              <div class="card-span">会心：{{item.hitMinRate}}%&emsp;会心伤害：{{item.hitMin}}%</div>
              <div class="card-span">会意：{{item.hitMaxRate}}%&emsp;会意伤害：{{item.hitMax}}%</div>
              <div class="card-span">鸣金：{{item.mjMin}} - {{item.mjMax}}</div>
              <div class="card-span">裂石：{{item.lsMin}} - {{item.lsMax}}</div>
              <div class="card-span">牵丝：{{item.qsMin}} - {{item.qsMax}}</div>
              <div class="card-span">破竹：{{item.pzMin}} - {{item.pzMax}}</div>
              <div class="card-span">属穿：{{item.attrPenetr}} 属增 {{item.attrGain}}</div>
              <div class="card-deliver"></div>
              <div class="card-btns">
                <div class="card-btn" @click="onEdit(item.id)">编辑</div>
                <div class="card-btn" @click="onCopy(item.id)">复制</div>
                <div class="card-btn" @click="onRemove(item.id)">删除</div>
                <div :class="['card-btn', { active: targetPlan.includes(item.id) }]" @click="chooseTarget(item.id)">目标套</div>
                <div :class="['card-btn', { active: currentPlan === item.id }]" @click="currentPlan = item.id">对比套</div>
              </div>
            </div>
          </template>
          <div class="cards-tips" v-else>
            左边填好数值保存之后，数据将在这里展示
          </div>
        </div>
      </div>
      <div class="result">
        <template v-if="result.length">
          <table class="table" v-for="(resultItem, index) of result" :key="index">
            <thead>
              <tr>
                <th class="header-th" rowspan="2">标题</th>
                <th rowspan="2">总伤害</th>
                <th colspan="4">伤害分类1</th>
                <th colspan="2">伤害分类2</th>
              </tr>
              <tr>
                <th>擦伤</th>
                <th>普通</th>
                <th>会心</th>
                <th>会意</th>
                <th>外功伤害</th>
                <th>属性伤害</th>
              </tr>
            </thead>
            <tr v-for="item of resultItem" :class="item.extraCls" :key="item.alias">
              <td :class="{ 'red-td': item.total < 0, 'green-td': item.total > 0 }">{{item.alias}}</td>
              <td :class="{ 'red-td': item.total < 0, 'green-td': item.total > 0 }">{{item.total}}</td>
              <td :class="{ 'red-td': item.other < 0, 'green-td': item.other > 0 }">{{item.other}}</td>
              <td :class="{ 'red-td': item.common < 0, 'green-td': item.common > 0 }">{{item.common}}</td>
              <td :class="{ 'red-td': item.hitMin < 0, 'green-td': item.hitMin > 0 }">{{item.hitMin}}</td>
              <td :class="{ 'red-td': item.hitMax < 0, 'green-td': item.hitMax > 0 }">{{item.hitMax}}</td>
              <td :class="{ 'red-td': item.attack < 0, 'green-td': item.attack > 0 }">{{item.attack}}</td>
              <td :class="{ 'red-td': item.ele < 0, 'green-td': item.ele > 0 }">{{item.ele}}</td>
            </tr>
          </table>
        </template>
        <div class="result-tips" v-else>
          选择“目标套”和“对比套”后，生成对比结果
        </div>
      </div>
      <div class="result">
        <template v-if="autoResult.length">
          <table class="table" v-for="(resultItem, index) of autoResult" :key="index">
            <thead>
              <tr>
                <th class="header-th" rowspan="2">标题</th>
                <th rowspan="2">总伤害</th>
                <th colspan="4">伤害分类1</th>
                <th colspan="2">伤害分类2</th>
              </tr>
              <tr>
                <th>擦伤</th>
                <th>普通</th>
                <th>会心</th>
                <th>会意</th>
                <th>外功伤害</th>
                <th>属性伤害</th>
              </tr>
            </thead>
            <tr v-for="item of resultItem" :class="item.extraCls" :key="item.alias">
              <td :class="{ 'red-td': item.total < 0, 'green-td': item.total > 0 }">{{item.alias}}</td>
              <td :class="{ 'red-td': item.total < 0, 'green-td': item.total > 0 }">{{item.total}}</td>
              <td :class="{ 'red-td': item.other < 0, 'green-td': item.other > 0 }">{{item.other}}</td>
              <td :class="{ 'red-td': item.common < 0, 'green-td': item.common > 0 }">{{item.common}}</td>
              <td :class="{ 'red-td': item.hitMin < 0, 'green-td': item.hitMin > 0 }">{{item.hitMin}}</td>
              <td :class="{ 'red-td': item.hitMax < 0, 'green-td': item.hitMax > 0 }">{{item.hitMax}}</td>
              <td :class="{ 'red-td': item.attack < 0, 'green-td': item.attack > 0 }">{{item.attack}}</td>
              <td :class="{ 'red-td': item.ele < 0, 'green-td': item.ele > 0 }">{{item.ele}}</td>
            </tr>
          </table>
        </template>
        <div class="result-tips" v-else>
          选中目标套之后，自动对比部分满值属性的结果
        </div>
      </div>
    </div>
  </div>
</body>
<script type="module">
  import { createApp, ref, computed } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

  const storeAttrGroup = JSON.parse(localStorage.getItem('attrGroups') || '[]');
  const eleList = [
    { label: '鸣金', value: 'mj' },
    { label: '裂石', value: 'ls' },
    { label: '牵丝', value: 'qs' },
    { label: '破竹', value: 'pz' },
  ];
  const limits = {
    accuRate: [0, 100],
    hitMinRate: [0, 100],
    hitMin: [0, 100],
    hitMaxRate: [0, 60],
    hitMax: [0, 100],
  };
  const genAttr = () => {
    const data = {
      name: `新建套装-${Math.floor(Math.random() * 9e8 + 9e9).toString(32)}`,
      id: `id-${Math.floor(Math.random() * 9e8 + 9e9).toString(32)}`,
      attackMin: 500,
      attackMax: 1000,
      attackGain: 0, // 外功增益
      attackPenetr: 0, // 外功穿透
      attrGain: 0, // 属攻增益
      attrPenetr: 0, // 属攻穿透
      accuRate: 80,
      hitMinRate: 40,
      hitMin: 50,
      hitMaxRate: 20,
      hitMax: 35,
      eleType: eleList[0].value,
    };
    eleList.forEach((item) => {
      data[`${item.value}Min`] = 0;
      data[`${item.value}Max`] = 0;
    });

    return data;
  };
  /** 计算穿透和增益后带来的收益 */
  const genGain = (base, penetr = 0, gain = 0) => (base * (100 + penetr / 2) * (100 + gain) / 1e4);
  // 转成正确的数据
  const genTrueData = (item) => {
    const defAttr = genAttr();
    const keys = Object.keys(item).filter(key => typeof defAttr[key] === 'number');
    const mockData = { ...item };
    keys.forEach((key) => {
      const isTrueVal = typeof item[key] === 'number' && item[key] >= 0 && item[key] <= 9999;
      mockData[key] = isTrueVal ? item[key] : defAttr[key];
      if (limits[key]) mockData[key] = Math.max(limits[key][0], Math.min(limits[key][1], mockData[key]));
    });
    if (mockData.hitMinRate + mockData.hitMaxRate > 100) mockData.hitMinRate = 100 - mockData.hitMaxRate;
    return mockData;
  };
  const calcAttr = (attr) => {
    const genRange = (min, max) => {
      if (min > max) return min;
      return Math.floor(((max + min) / 2));
    };
    // 获取属性攻击的数据
    const genEleData = (item) => {
      let max = 0;
      let min = 0;
      let common = 0;
      eleList.forEach((it) => {
        if (it.value === item.eleType) {
          const selfMax = Math.max(item[`${it.value}Min`], item[`${it.value}Max`]) * 1.5;
          const selfMin = Math.min(item[`${it.value}Min`], item[`${it.value}Max`]) * 1.5;
          const selfCommon = genRange(item[`${it.value}Min`], item[`${it.value}Max`]) * 1.5;
          max += genGain(selfMax, item.attrPenetr, item.attrGain);
          min += genGain(selfMin, item.attrPenetr, item.attrGain);
          common += genGain(selfCommon, item.attrPenetr, item.attrGain);
        } else {
          max += Math.max(item[`${it.value}Min`], item[`${it.value}Max`]);
          min += Math.min(item[`${it.value}Min`], item[`${it.value}Max`]);
          common += genRange(item[`${it.value}Min`], item[`${it.value}Max`]);
        }
      });
      return { max, min, common };
    };
    const {
      attackMin,
      attackMax,
      attackGain,
      attackPenetr,
      accuRate,
      hitMinRate,
      hitMin,
      hitMaxRate,
      hitMax,
      eleType,
    } = genTrueData(attr);
    let total = 0;
    const hitMaxCount = hitMaxRate;
    const hitMinCount = hitMinRate * accuRate / 100;
    const otherCount = (100 - hitMaxRate) * (100 - accuRate) / 100;
    const commonCount = 100 - hitMaxCount - hitMinCount - otherCount;
    const counts = {
      hitMax: hitMaxCount,
      hitMin: hitMinCount,
      common: commonCount,
      other: otherCount,
    };
    const eleData = genEleData(attr);
    const attackDamages = {
      hitMax: hitMaxCount * attackMax * (100 + hitMax) / 1e4,
      hitMin: hitMinCount * genRange(attackMin, attackMax) * (100 + hitMin) / 1e4,
      common: commonCount * genRange(attackMin, attackMax) / 1e2,
      other: otherCount * attackMin / 1e2,
    };
    Object.keys(attackDamages).forEach((key) => {
      attackDamages[key] = genGain(attackDamages[key], attackPenetr, attackGain);
    });
    const eleDamages = {
      hitMax: hitMaxCount * eleData.max * (100 + hitMax) / 1e4,
      hitMin: hitMinCount * eleData.common * (100 + hitMin) / 1e4,
      common: commonCount * eleData.common / 1e2,
      other: otherCount * eleData.min / 1e2,
    };
    const damages = {};
    Object.keys(attackDamages).forEach((key) => {
      if (!damages.total) damages.total = 0;
      if (!damages[key]) damages[key] = 0;
      if (!damages.attack) damages.attack = 0;
      if (!damages.ele) damages.ele = 0;
      damages.total += attackDamages[key];
      damages.total += eleDamages[key];
      damages.attack += attackDamages[key];
      damages.ele += eleDamages[key];
      damages[key] += attackDamages[key];
      damages[key] += eleDamages[key];
    });
    Object.keys(attackDamages).forEach((key) => damages[key] = Number(damages[key].toFixed(2)));

    return damages;
  };
  const diffAttr = (current, target) => {
    if (!current || !target) return [];
    const currentCalc = calcAttr(current);
    const targetCalc = calcAttr(target);
    const list = [
      { alias: `对比套装 → ${current.name}`, ...currentCalc },
      { alias: `目标套装 → ${target.name}`, ...targetCalc },
    ];
    const resultCalc = { alias: '', extraCls: 'result-tr' };
    Object.keys(currentCalc).forEach((key) => {
      resultCalc[key] = targetCalc[key] - currentCalc[key];
    });
    resultCalc.alias = `套装差异 → ${Number(((targetCalc.total / currentCalc.total) * 100).toFixed(2))}%`;
    list.push(resultCalc);
    list.forEach(item => {
      Object.keys(currentCalc).forEach((key) => item[key] = Number(item[key]).toFixed(2));
    });
    return list;
  };

  createApp({
    setup() {
      const inited = ref(true); // 初始化
      const eles = ref(genAttr()); // 当前列表
      const cards = ref(storeAttrGroup); // 套装列表
      const currentPlan = ref(''); // 对比套
      const targetPlan = ref([]); // 目标套

      const damages = computed(() => calcAttr(eles.value));
      const result = computed(() => {
        if (!currentPlan.value || !targetPlan.value?.length) return [];

        const resultList = targetPlan.value.map(planId => {
          if (currentPlan.value === planId) return null;

          const current = currentPlan.value === eles.value.id ? eles.value : cards.value.find(item => item.id === currentPlan.value);
          const target = planId === eles.value.id ? eles.value : cards.value.find(item => item.id === planId);

          return diffAttr(current, target);
        });
        return resultList.filter(Boolean);
      });
      const autoResult = computed(() => {
        if (!currentPlan.value) return [];
        const autoList = [
          { key: 'attackMin', name: '小外', val: 77.8 },
          { key: 'attackMax', name: '大外', val: 77.8 },
          { key: 'accuRate', name: '精准', val: 4.8 },
          { key: 'hitMinRate', name: '会心', val: 5.4 },
          { key: 'hitMaxRate', name: '会意', val: 2.7 },
          { key: 'mjMin', name: '小鸣金', val: 44.2 },
          { key: 'mjMax', name: '大鸣金', val: 44.2 },
          { key: 'lsMin', name: '小裂石', val: 44.2 },
          { key: 'lsMax', name: '大裂石', val: 44.2 },
          { key: 'qsMin', name: '小牵丝', val: 44.2 },
          { key: 'qsMax', name: '大牵丝', val: 44.2 },
          { key: 'pzMin', name: '小破竹', val: 44.2 },
          { key: 'pzMax', name: '大破竹', val: 44.2 },
        ];
        const base = cards.value.find(item => item.id === currentPlan.value);
        const resultList = autoList.map(item => {
          const attrs = {
            ...base,
            [item.key]: base[item.key] + item.val,
            name: item.name,
          };
          return diffAttr(base, attrs);
        });
        const autoResultList = [{ ...resultList[0][0] }];
        for (let idx = 0; idx < resultList.length; idx++) {
          const bgc = idx % 2 === 0 ? 'tr-odds' : 'tr-even';
          autoResultList.push({ ...resultList[idx][1], extraCls: `${bgc} ${resultList[idx][1].extraCls || ''}` });
          autoResultList.push({ ...resultList[idx][2], extraCls: `${bgc} ${resultList[idx][2].extraCls || ''}` });
        }
        return [autoResultList];
      });
      const onSaveAndLocal = (list) => {
        cards.value = list;
        localStorage.setItem('attrGroups', JSON.stringify(list));
      };
      const onSave = () => {
        const mockList = [...cards.value];
        const idx = mockList.findIndex(item => item.id === eles.value.id);
        if (~idx) {
          mockList.splice(idx, 1, genTrueData(eles.value));
        } else {
          mockList.unshift(genTrueData(eles.value));
        }
        onSaveAndLocal(mockList);
        eles.value = genAttr();
      };
      const onEdit = (id) => {
        const target = cards.value.find(item => item.id === id);
        if (target) {
          eles.value = { ...target };
        }
      };
      const onReset = () => {
        eles.value = genAttr();
      };
      const onRemove = (id) => {
        const mockList = [...cards.value];
        const idx = mockList.findIndex(item => item.id === id);
        const res = confirm(`确定要删除 ${mockList[idx].name} 吗？`);
        if (~idx) {
          if (res) {
            mockList.splice(idx, 1);
            onSaveAndLocal(mockList);
            if (currentPlan.value === id) currentPlan.value = '';
            if (targetPlan.value === id) targetPlan.value = '';
          }
        }
      };
      const onCopy = (id) => {
        const mockList = [...cards.value];
        const idx = mockList.findIndex(item => item.id === id);
        if (~idx) {
          const newData = genAttr();
          const mockData = { ...mockList[idx] };
          const newKeys = ['name', 'id'];
          newKeys.forEach(key => {
            mockData[key] = newData[key];
          });
          eles.value = mockData;
        }
      };
      const chooseTarget = (id) => {
        if (targetPlan.value.includes(id)) {
          targetPlan.value = targetPlan.value.filter(it => it !== id);
        } else {
          targetPlan.value = [...new Set([...targetPlan.value, id])];
        }
      };

      return {
        inited: true,
        eleList,
        eles,
        cards,
        currentPlan,
        targetPlan,
        damages,
        result,
        autoResult,
        onSave,
        onReset,
        onEdit,
        onRemove,
        onCopy,
        chooseTarget,
      };
    }
  }).mount('#app')
</script>
